DB_USER=sa
DB_PASSWORD=nhap_mat_khau_sql_server_cua_ban_vao_day
DB_SERVER=localhost
DB_DATABASE=PCShopDB
PORT=5000
GMAIL_USER=your_gmail@gmail.com
GMAIL_APP_PASSWORD=abcdefghijklmnop
FRONTEND_URL=http://localhost:5173